<div class='row text-center'>
  <div class='col-md-8 col-centered'>
    <div class='panel'>
      <div class='panel-body text-centered'>
        <%= form_for @user, url: register_path, method: :post, html: {class: "signup"} do |f| %>
        <h3>Account Info</h3>
        <%= f.text_field :name, placeholder: "Name", autofocus: true %>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.text_field :password, placeholder: "Password" %>
        <%= f.submit "Create Account" %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
